body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;

}

.carousel {
  background-color: rgb(247, 247, 247);
}

.heading {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
}

.button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
